doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")   
        title Geoquiz - Juego
    body(class=`bg-gradient-to-r from-blue-600 to-lime-400 text-4xl font-mono`) 
            .pregunta(class='ml-auto mr-auto mt-30 mb-auto w-fit border-4 p-10 bg-white')

                h1 ¿Cual es el país de la siguiente <span class='text-blue-500'>ciudad capital</span>?
                h1(class='text-center mt-10 text-blue-500') #{select_capital}

            .btn_opciones(class='grid grid-cols-2 w-170 ml-auto mr-auto mt-25 mb-auto gap-5')
                each val in paises_random
                    if val.correcta
                        button#green(class='bg-white p-4 rounded-4xl hover:-translate-y-1 hover:bg-black hover:text-white')= val.correcta
                    else 
                        button#red(class='bg-white p-4 rounded-4xl hover:-translate-y-1 hover:bg-black hover:text-white')= val.incorrecta

    script.

            const green = document.getElementById('green')
            const red = document.getElementById('red')

            green.addEventListener('click', () => {
                green.style.backgroundColor = '#84cc16'
            })

            red.addEventListener('click', () => {
                const red_list = document.querySelectorAll('#red')
                
                for(let r = 0; r < red_list.length; r++){
                    red_list[r].style.backgroundColor = "#ef4444";
                }
                
                green.style.backgroundColor = '#84cc16'
            })