include ../src/mixins/quiz
doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.
            const preguntas = !{JSON.stringify(setPreguntas)}
            const index = !{pregunta_index}
            
        script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")   
        title Geoquiz - Juego

    body#juego(class=`bg-gradient-to-r from-blue-600 to-lime-400 text-4xl font-mono`) 

        +quiz(setPreguntas, pregunta_index)

    script(src='/js/botones.js' defer)

