doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4") 
        title Iniciar Sesion
    body(class='bg-gradient-to-r from-cyan-800 to-blue-950 text-black') 

        a(href='/')
            button(class='bg-white block w-fit ml-auto mr-auto mt-10 text-4xl p-5 hover:bg-blue-300 rounded-4xl') Volver a Inicio 

        form#loginForm(action="", method="post" class='bg-white p-7 rounded-4xl w-fit ml-auto mr-auto mt-10')

            label(class='text-4xl font-medium block' for='mail') Ingrese su correo electrónico
            input#mail(type='mail' placeholder='Correo Electronico' class='mt-4 p-4 w-119 text-2xl rounded-2xl bg-gray-200' name='mail')    

            label(class='text-4xl font-medium block mt-9' for='password') Contraseña
            
            input#password(type='password' placeholder='Contraseña' class='mt-4 p-4 w-119 text-2xl rounded-2xl bg-gray-200' name='password')

            p(class='text-center text-2xl mt-15') ¿No tiene cuenta? <a href='/registro'><span class='text-blue-500 font-bold hover:text-cyan-500'> Regístrese aquí </span></a>
            button(type='submit' class='block w-fit ml-auto mr-auto mt-8 p-6  bg-blue-500 hover:bg-cyan-500 border-double border-8 rounded-4xl text-white text-2xl font-bold' ) Iniciar Sesión
    
    script(src='/js/login.js' defer) 